{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<h1>Another Page</h1><hr>
<div class="container">
    <div class="row">
      <div class="col">
          <h2>Create Item</h2>
          <form method="post">{% csrf_token %}
              {{form.as_p}}
              <input type="submit" value="Create">
          </form>
      </div>
        <div class="col">
            {% for item in object_list %}<br>
                {{ item.title }}
            {% endfor %}
            <hr>
            {% include "includes/pagination.html" %}
            <hr>
        </div>
    </div>
    <h3><b>page_obj.paginator.page_range: {{page_obj.paginator.page_range}}</b></h3>
    <h3><b>page_obj: {{page_obj}}</b></h3>
    <h3><b>page_obj.has_previous: {{page_obj.has_previous}}</b></h3>
    <h3><b>page_obj.has_next: {{page_obj.has_next}}</b></h3>
    <h3><b>page_obj.number: {{page_obj.number}}</b></h3>
    <h3><b>page_obj.paginator.num_pages: {{page_obj.paginator.num_pages}}</b></h3>
</div>
{% endblock content %}
